from_scratch/data/LibriSpeech/
from_scratch/weights/
from_scratch/train_loss.txt
from_scratch/val_loss.txt
from_scratch/err.err
from_scratch/out.txt
from_scratch/run.sh
from_scratch/results/
from_scratch/data/vec/
venv/
